.Image1 {
    animation: Image1Border 5s infinite;
    border: solid 5px;
}


.Image2 {
    animation: Image2Size 5s infinite;
}

.Text3 {
    animation: Text3Color 5s infinite;
}

.flex-container {
    display: flex;
    width: 100%;
    height:100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.item {
    width:200px;
    height:200px;
    margin: 10px 10px;
    padding: 10px 10px;
    background-color:rgb(239, 239, 239);
    border-color: black 1px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
}
img {
    width: 75%;
    margin: 10px;
}

@keyframes Image1Border{
    0%{
        border-color: green;
    }
    50%{
        border-color: purple;
    }
    100%{
        border-color: rgb(255, 136, 0);
    }
}

@keyframes Image2Size{
    0%{
        width:75%;
    }
    50%{
        width: 50px;
    }
    100%{
        width: 75%;
    }

}
@keyframes Text3Color{
    0%{
        color:green;
    }
    50%{
        color:red;
    }
    100%{
        color:purple;
    }
}